.register-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.register-card {
  max-width: 900px;
  width: 100%;
  padding: 20px;

  background: var(--card);
  border-radius: 18px;
  border: 1px solid var(--border);
  box-shadow: 0 20px 50px rgba(0, 0, 0, .25);
  backdrop-filter: blur(14px);
}

.register-card h2 {
  font-weight: 800;
}

.reg-sub {
  opacity: .8;
  margin-bottom: 10px;
}

/* section title */
.register-card h3 {
  margin-top: 16px;
  padding: 8px 10px;
  border-radius: 12px;
  background: rgba(99, 102, 241, .1);
  border: 1px solid var(--border);
}

/* inputs */
.register-card input {
  width: 90%;
  margin-top: 8px;
  padding: 9px 12px;

  border-radius: 12px;
  border: 1px solid var(--border);

  background: rgba(255, 255, 255, .5);
  outline: none;
  color: var(--text);
}

.register-card input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(99, 102, 241, .2);
}

/* grids */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.photo-label {
  margin-top: 10px;
  font-size: 14px;
  opacity: .8;
}

/* OTP BTN */
.otp-btn {
  border-radius: 12px;
  border: none;
  background: #0ea5e9;
  color: white;
  cursor: pointer;
}

/* SUBMIT */
.submit-reg-btn {
  margin-top: 14px;
  width: 100%;
  padding: 11px;

  border-radius: 14px;
  border: none;
  cursor: pointer;

  background: linear-gradient(120deg, #4f46e5, #818cf8);
  color: white;
  font-weight: 800;
}

/* DARK */
body.dark .register-card {
  background: rgba(18, 20, 28, .9);
}

/* RESPONSIVE */
@media(max-width: 780px) {

  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}